<extend name="Public/tpl-list" />
<block name="content">
    <div class="table-responsive">
        <table class="table table-condensed table-hover tb-list">
            <thead>
                <tr>
                    <th class="th-20"><input type="checkbox" class="j-check-all" /></th>
                    <th class="th-50">{:L('LIST_SORT')}</th>
                    <th class="th-40">ID</th>
                    <th>{:L('NAME')}</th>
                    <th class="th-60">{:L('STATUS')}</th>
                    <th class="th-150">{:L('ACTIONS')}</th>
                </tr>
            </thead>
            <tbody>
            <volist name='list' id='v'>
                <tr>
                    <td><input type="checkbox" name="id[]" value="{$v.id}" /></td>
                    <td><input type="text" value="{$v.sort}" class="form-control-sm tl-xs js-sort" data-id="{$v.id}" ></td>
                    <td>{$v.id}</td>
                    <td><a href="{:U('index',array('pid'=>$v['id']))}">{$v.region_name|default='== 未定义 =='}</a></td>
                    <td><button type="button" class="status-{$v.status|intval} j-status" data-url="{:U('setStatus',array('id'=>$v['id'],'field'=>'status','val'=>$v['status']))}">{$v['status']?L('ACTIVE'):L('DISABLED')}</button></td>
                    <td>
                        <a href="{:U('edit',array('id'=>$v['id']))}" class="btn btn-success btn-xs">{:L('EDIT')}</a>
                        <a href="{:U('delete',array('id'=>$v['id']))}" class="btn btn-danger btn-xs j-del">{:L('DELETE')}</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</block>