<extend name="Public/tpl-edit" />
<block name="content">
    <table class="table table-condensed tb-data">
        <tr>
            <th>{:L('TITLE')}</th>
            <td><input type="text" name="title" value="{$data.title|htmlspecialchars}" class="form-control-sm t-lg" /></td>
        </tr>
        <tr>
            <th>{:L('SUBJECT')}</th>
            <td><input type="text" name="subject" value="{$data.subject|htmlspecialchars}" class="form-control-sm t-lg" /></td>
        </tr>
        <tr>
            <th>{:L('CC_ADDR')}</th>
            <td><input type="text" name="cc_addr" value="{$data.cc_addr|htmlspecialchars}" class="form-control-sm t-lg" /></td>
        </tr>
        <tr>
            <th>{:L('BCC_ADDR')}</th>
            <td><input type="text" name="bcc_addr" value="{$data.bcc_addr|htmlspecialchars}" class="form-control-sm t-lg" /></td>
        </tr>
        <tr>
            <th>{:L('REMARK')}</th>
            <td><textarea name="remark" class="form-control-sm t-600-50">{$data.remark|htmlspecialchars}</textarea></td>
        </tr>
        <tr>
            <th>{:L('CONTENT')}</th>
            <td><textarea name="content">{$data.content|htmlspecialchars}</textarea></td>
        </tr>
    </table>
</block>
<block name="scripts">
    <script>
        CKEDITOR.replace('content');
    </script>
</block>