<extend name="Public/tpl-data" />
<block name="content">
    <form action="{:U('createcoupon')}" method="post" enctype="multipart/form-data" class="form-data" id="j-fmData">
        <input type="hidden" name="id" value="{$data.id}">
        <table class="table table-condensed tb-data">
            <tr>
                <th>优惠券规则</th>
                <td>{$data.coupon_rule}</td>
            </tr>
            <tr>
                <th>规则别名</th>
                <td>{$data.coupon_alias}</td>
            </tr>
            <tr>
                <th>有效时间</th>
                <td>{:date('Y-m-d H:i:s', $data['start_time'])} 至 {:date('Y-m-d H:i:s', $data['end_time'])}</td>
            </tr>
            <tr>
                <th>优惠券类型</th>
                <td>{$coupon_types[$data['coupon_type']]}</td>
            </tr>
            <tr>
                <th>最小消费金额</th>
                <td>{$data.min_amount}</td>
            </tr>
            <eq name="data.coupon_type" value="1">
            <tr>
                <th>减免金额</th>
                <td>{$data.discount_amount}</td>
            </tr>
            <else/>
            <tr>
                <th>折扣</th>
                <td>{$data.discount_rate}%</td>
            </tr>
            </eq>
            <tr>
                <th>发放目标</th>
                <td>{$target_types[$data['target_type']]}</td>
            </tr>
            <eq name="data.target_type" value="2">
            <tr>
                <th>
                    已选择会员
                </th>
                <td>
                    <ul style="list-style: none; min-height:50px;max-height: 150px;overflow: auto; padding: 5px; border:1px solid #ccc;">
                        <volist name="data._member_list" id="v">
                            <li data-id="{$v.id}">
                                {$v.account}
                            </li>
                        </volist>
                    </ul>
                </td>
            </tr>
            </eq>
            <eq name="data.target_type" value="3">
            <tr>
                <th>选择会员等级</th>
                <td>
                    <ul style="min-height:50px;max-height:150px;overflow:auto;list-style: none;padding: 5px;border:1px solid #ccc;">
                        <volist name="member_levels" id="v">
                            <in name="v.id" value="$data['_chosen_member_level']">
                            <li>{$v.member_level}</li>
                            </in>
                        </volist>
                    </ul>
                </td>
            </tr>
            </eq>
            <tr>
                <th>限定类型</th>
                <td>{$limit_types[$data['limit_type']]}</td>
            </tr>
            <eq name="data.limit_type" value="2">
            <tr>
            <th>已选择商品</th>
            <td>
                <ul style="list-style: none;padding: 0;min-height:50px;max-height:150px;overflow:auto;padding: 5px;border:1px solid #ccc;">
                    <volist name="data._product_list" id="v">
                        <li data-id="{$v.id}">
                            {$v.goods_sno} | {$v.goods}
                        </li>
                    </volist>
                </ul>
            </td>
            </tr>
            </eq>
            <eq name="data.limit_type" value="3">
            <tr>
            <th>选择分类</th>
            <td>
                <ul style="min-height: 50px;max-height:150px;overflow:auto;list-style: none;padding-left: 5px;border:1px solid #ccc;">
                    <volist name="category_list" id="v">
                        <li><in name="v.id" value="$data['_chosen_category']">{$v.category}</in></li>
                    </volist>
                </ul>
            </td>
            </tr>
            </eq>
            <tr>
                <th>{:L('REMARK')}</th>
                <td>{$data.remark|nl2br}</td>
            </tr>
            <tr>
                <th>已发放次数</th>
                <td>{$data.total_batch}</td>
            </tr>
            <tr>
                <th>本次发放张数</th>
                <td><input type="text" name="amount" value="1" class="form-control-sm t-sm" > <i>为发放目标成员各生成N张优惠券</i></td>
            </tr>
        </table>
        <div class="tb-data-ctrl">
            <button type="submit" class="btn btn-primary">{:L('CONFIRM')}</button>
            <button type="button" class="btn btn-default j-back">{:L('BACK')}</button>
        </div>
    </form>
</block>