{//头文件}
<include file='Public/head' />
{//主导航}
<include file='Public/nav' />
<div class="page-direction clearfix">
    {//面包屑导航}
    <block name="breadcrumbs">
        <div class="pull-left bread_nav">
            <i class="glyphicon glyphicon-tower"></i> {$bread_nav_ctrl}
        </div>
    </block>
    {//页面控件}
    <block name="page-handle">
        <div class="pull-right page-direction-handle">
            <a href="{:U('add')}" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> {:L('ADD')}</a>
            <a href="{:U('index')}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-list"></i> {:L('LIST')}</a>
        </div>
    </block>
</div>
<block name="search"></block>
<block name="content"></block>
{//载入javascript}
<include file="Public/javascript-list"/>
{//脚本区域}
<block name="scripts"></block>
<include file='Public/foot' />