<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Administrator Panel</title>
        <link href="__BOOTSTRAP__/css/bootstrap.min.css" rel="stylesheet">
        <link href="__PUBLIC__/style.css" rel="stylesheet">
        <link href="__JS__/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <script src="__JS__/jquery.min.js"></script>
        <script src="__BOOTSTRAP__/js/bootstrap.min.js"></script>
        <script src="__JS__/function.js"></script>
        <script src="__JS__/myplugins.js"></script>
        <script src="__JS__/common.js"></script>
        <script src="__JS__/ckeditor/ckeditor.js"></script>
        <script src="__JS__/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="__JS__/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="__JS__/zDialog/zDialog.min.js"></script>
        <!--[if lt IE 9]>
          <script src="__BOOTSTRAP__/js/html5shiv.min.js"></script>
          <script src="__BOOTSTRAP__/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>