<!DOCTYPE html>
<html>
    <head>
        <title>{$Think.config.META_TITLE}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="{$Think.config.META_KEYWORD}" name="keywords"/>
        <meta content="{$Think.config.META_DESCRIPTION}" name="description"/>
        <link href="__PUBLIC__/style.css" type="text/css" rel="stylesheet"/>
        <link href="__PUBLIC__/font.css" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="__JS__/common.js"></script>
        <!--[if lte IE 6]>
        <script src="__JS__/png.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                DD_belatedPNG.fix('h1, h2, h3, div, ul, img, li, input, a, span');
            </script>
        <![endif]-->
        <!--[if IE 8]>
        <link href="__PUBLIC__/ie8.css" type="text/css" rel="stylesheet"/>
        <![endif]-->
        <!--[if IE 7]>
        <link href="__PUBLIC__/ie7.css" type="text/css" rel="stylesheet"/>
        <![endif]-->
        <!--[if IE 6]>
        <link href="__PUBLIC__/ie6.css" type="text/css" rel="stylesheet"/>
        <![endif]-->
    </head>
    <body>