<extend name="Public/tpl-list" />
<block name="page-handle"></block>
<block name="content">
    <div class="table-responsive">
        <table class="table table-condensed table-hover tb-list">
            <thead>
                <tr>
                    <th>备份名称</th>
                    <th class="th-150">卷数</th>
                    <th class="th-150">压缩</th>
                    <th class="th-150">数据大小</th>
                    <th class="th-150">备份时间</th>
                    <th class="th-150">操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name='list' id='v'>
                <tr>
                    <td>{$key}</td>
                    <td>{$v.part}</td>
                    <td>{$v.compress}</td>
                    <td>{$v.size|format_bytes}</td>
                    <td>{$v.time|date='Y-m-d H:i:s',###}</td>
                    <td>
                        <a href="{:U('recover',array('time'=>$v['time']))}" class="btn btn-success btn-xs js-confirm">恢复</a>
                        <a href="{:U('delete',array('time'=>$v['time']))}" class="btn btn-danger btn-xs j-del">{:L('DELETE')}</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</block>
<block name="list-handle"></block>