<extend name="Public/tpl-list" />
<block name="search">
    <form action="" method="get" class="list-search">
        <select name="level_id" class="form-control-sm">
            <option value="-1">==选择会员等级==</option>
            <volist name="level_list" id='v'>
                <option value="{$v.id}" <eq name="v.id" value="$opts.level_id">selected</eq>>{$v.member_level}</option>
            </volist>
        </select>
        <input type="text" name="kw" value="{$opts.kw}" class="form-control-sm" />
        <button type="submit" class="btn btn-primary btn-sm" ><i class="glyphicon glyphicon-search"></i> {:L('SEARCH')}</button>
    </form>
</block>
<block name="content">
    <div class="table-responsive">
        <table class="table table-condensed table-hover tb-list">
            <thead>
                <tr>
                    <th class="th-40">ID</th>
                    <th>{:L('ACCOUNT')}</th>
                    <th class="th-150">{:L('USERNAME')}</th>
                    <th class="th-150">{:L('LEVEL')}</th>
                    <th class="th-150">{:L('CREATE_TIME')}</th>
                    <th class="th-150">{:L('ACTIONS')}</th>
                </tr>
            </thead>
            <tbody>
            <volist name='list' id='v'>
                <tr>
                    <td>{$v.id}</td>
                    <td><a href="{:U('Member/edit',array('id'=>$v['id']))}">{$v.account|default='== 未定义 =='}</a></td>
                    <td>{$v.username}</td>
                    <td>{$v.member_level}</td>
                    <td>{$v.register_time|date='Y-m-d H:i',###}</td>
                    <td>
                        <a href="{:U('add',array('mid'=>$v['id']))}" class="btn btn-success btn-xs">{:L('CHOOSE')}</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</block>
<block name="list-handle">
    <div class="container-fluid">
        <div class='row'>
            <div class="col-md-4">
            </div>
            <div class="col-md-8 text-right"><ul class="pagination square">{$page_nav}</ul></div>
        </div>
    </div>
</block>