 <extend name="Public/tpl-edit" />
<block name="content">
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#pane1" data-toggle="tab">基本信息</a></li>
        <li><a data-target="#pane2" data-toggle="tab">商品列表</a></li>
 
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="pane1">
            <table class="table table-condensed tb-data">
                <tr>
                    <th>{:L('STATUS')}</th>
                    <td>
                        <label><input type="radio" name="business[status]" value="1" checked /> {:L('ACTIVE')}</label>
                        <label><input type="radio" name="business[status]" value="0" <eq name="data.status" value="0">checked</eq> /> {:L('DISABLED')}</label>
                    </td>
                </tr>
    <!--             <tr>
                    <th>{:L('LEVEL')}</th>
                    <td>
                        <select name="main[level_id]" class="form-control-sm">
                            <option value="0">请选择...</option>
                            <volist name="level_list" id="v">
                                <option value="{$v.id}" <eq name="data.level_id" value="$v.id">selected="selected"</eq>>{$v.member_level}</option>
                            </volist>
                        </select>
                    </td>
                </tr> --> 
      			<tr>
                    <th>商家名称</th>
                    <td><input type="text" name="business[business_name]" value="{$data.business_name}" class="form-control-sm" /> <i></i></td>
                </tr>
                <tr>
                    <th>联系人</th>
                    <td><input type="text" name="business[contact_name]"  value="{$data.contact_name}" class="form-control-sm" /> <i></i></td>
                </tr>
                <tr>
                    <th>tel</th>
                    <td><input type="text" name="business[mobile]"  value="{$data.mobile}" class="form-control-sm" /></td>
                </tr>
                <tr>
                    <th>eamil</th>
                    <td><input type="text" name="business[email]"  value="{$data.email}" class="form-control-sm" /></td>
                </tr>
                <tr>
                    <th>商家地址</th>
                    <td><input type="text" name="business[business_address]"  value="{$data.business_address}" class="form-control-sm" /></td>
                </tr>
                <tr>
                    <th>{:L('REMARK')}</th>
                    <td><textarea name="business[business_info]" class="form-control-sm">{$data.business_info}</textarea></td>
                </tr>
            </table>
        </div>
  
        <div class="tab-pane" id="pane2">
            <table class="table table-condensed table-bordered tb-data-list" id="js-address-list" data-reload-url="{:U('MemberAddress/reloadaddress',array('mid'=>$data['id']))}" data-add-url="{:U('MemberAddress/add',array('mid'=>$data['id']))}" data-edit-url="{:U('MemberAddress/edit')}" data-remove-url="{:U('MemberAddress/delete')}">
                <thead>
                    <tr> 
                 	    <th class="th-20">ID</th>
                        <th class="th-120">商品名</th>
                        <th class="th-120">商品分类</th>
                        <th class="th-120">OnSale</th>
                        <th class="th-120">SkuIofo</th>
                        <th class="th-120">原价</th>
                        <th class="th-120">售价</th>
                        <th class="th-120">stack</th>  
                        <th class="th-120">操作</th>
                    </tr>
                </thead>
                <tbody>
                
                 <volist name="data._business_list" id="b">
                    <tr data-id="{$b.id}"> 
                        <td>{$b.goods_id}</td>
                        <td><a href="{:U('Goods/edit',array('id'=>$b['goods_id']))}">{$b.goods}</a></td>
                        <td>{$b.category}</td>
                        <td>{$b.is_onsale}</td>
                        <td>{$b.sku_info}</td>
                        <td>{$b.original_price}</td> 
                        <td>{$b.price}</td>
                        <td>{$b.stock}</td> 
                        <td class="f16">
                          <!--   <a href="javascript:;" class="js-edit-item"><span class="glyphicon glyphicon-edit"></span></a> -->
                            <a href="javascript:;" class="js-remove-item"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </volist>
 
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6"><button type="button" class="btn btn-success btn-xs" id="js-add-address">添加</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</block>
<block name="scripts">
    <script>
        $(function(){
            $.member.init();
        });
    </script>
</block>